.circleContainer {
  position: relative;
  height: 20rem;
  width: 20rem;
  margin: auto;
  border: 1px solid white;
  border-radius: 50%;
}

.circle1 {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;

  border: 2px solid white;
}

.circle2 {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  pointer-events: none;

  border: 2px solid white;
}

.item {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: all;

  background-color: gray;
}